<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Belikursus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200 flex">
    <nav class="bg-gray-800 text-white w-64 min-h-screen flex flex-col">
      <div class="p-4">
        <%= image_tag "https://via.placeholder.com/150x50?text=BeliKursus", alt: "logo", class: "w-full" %>
      </div>

      <ul class="flex-grow">
        <li><%= link_to "Home", "#", class: "block py-2 px-4 hover:bg-gray-700" %></li>
        <li><%= link_to "Courses", "#", class: "block py-2 px-4 hover:bg-gray-700" %></li>
        <li><%= link_to "About Us", "#", class: "block py-2 px-4 hover:bg-gray-700" %></li>
        <li><%= link_to "Contact", "#", class: "block py-2 px-4 hover:bg-gray-700" %></li>
      </ul>
    </nav>

    <main class="flex-grow p-8">
      <%= yield %>
    </main>
  </body>
</html>
